body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectsMainContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    position: relative;
    width: 400px;
    height: 200px;
    overflow: hidden;
}

.slides-container {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.slide {
    flex: 0 0 100%;
    opacity: 0.5;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.slide.focus {
    transform: scale(1.2);
    opacity: 1;
}

.slide:not(.focus) {
    transform: scale(0.8);
}
