html {
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
}
body {
    width: 100%;
    height: 100%;
    background-color: #000000;
    background: linear-gradient(to bottom, #3b3d54, #000000);
    background-repeat:no-repeat;
    background-attachment:fixed;
}
#root {
    width: 100%;
    height: 100%;
}
.fwh {
    width: 100%;
    height: 100%;
}
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
    font-size: auto;
}
.fw {
    width: 100%;
}
.c {
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    margin: 0;
}